.imageContainer {
  margin: 20px;
  display: grid;
  place-items: center;
  position: relative;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.imageContainer > .icon-button {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.imageThumb {
  width: 100%;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 13px 5px 17px 0px rgba(50, 50, 50, 0.57);
  /* transition: 0.3; */
}

/* .imageThumb:hover {
  transform: scale(1.1);
  box-shadow: -13px -5px -17px 0px rgba(50, 50, 50, 0.57);
} */

.imageAuthor {
  margin: 5px;
}
